<div class="container" style="margin-top: 200px; padding: 15px">
  <div class="columns">
    <div class="column" style="margin-right: 50px">
      <app-card
        [name]="cardForm.controls.name.value || ''"
        [cardNumber]="cardForm.controls.cardNumber.value || ''"
        [expiration]="cardForm.controls.expiration.value"
      ></app-card>
    </div>

    <div class="column">
      <form [formGroup]="cardForm" (ngSubmit)="onSubmit()">
        <app-input
          [control]="cardForm.controls.name"
          [label]="'Name'"
        ></app-input>
        <app-input
          [control]="cardForm.controls.cardNumber"
          [label]="'Card Number'"
        ></app-input>
        <div class="columns">
          <div class="column">
            <app-input
              [control]="cardForm.controls.expiration"
              [label]="'Expiration'"
            ></app-input>
          </div>
          <div class="column">
            <app-input
              [control]="cardForm.controls.securityCode"
              [label]="'Security Code'"
            ></app-input>
          </div>
        </div>

        <div class="buttons">
          <button
            type="submit"
            [disabled]="cardForm.invalid"
            class="button is-primary"
          >
            Submit
          </button>
          <button class="button is-warning" (click)="onResetClick()">
            Reset
          </button>
        </div>
      </form>
    </div>
  </div>

  <!-- for debugging -->
  <hr />
  <div>Form Contents: {{ cardForm.value | json }}</div>
  <div>Form is valid: {{ cardForm.valid }}</div>
  <div>Errors around name: {{ cardForm.controls.name.errors | json }}</div>
</div>
